div.headphone{
    width: 48px;
    height: 48px;
    background-color: #ef4056;
    position: fixed;
    bottom: 10px;
    left: 30px;
    border-radius: 50%;
    z-index: 3;
}
div.headphone>a{
    width: inherit;
    height: inherit;
    color: white;
}
div.headphone>a>i{
    margin-top: 10px;
    margin-right: 9px;
    font-size: 30px;
}