div.services{
    width: 100%;
    text-align: center;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    
}
       
div.services>div>img{
    width: 50px;
    
}
div.services>div>h5{

    text-align: center;
    font-size: 10px;
    margin-top: 20px;
}

@media (max-width: 838px) {

    div.services {
      padding-left: 10px;
      padding-right: 10px;
    }

  }


