*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    direction: rtl;
    font-family: yekan;
}
:root{
    --width:100%;
}
@font-face{
    font-family: yekan;
    src: url(../../fonts/IRANYekanWeb-Medium.eot);
    src: url(../../fonts/IRANYekanWeb-Medium.ttf);
    src: url(../../fonts/IRANYekanWeb-Medium.woff);
    src: url(../../fonts/IRANYekanWeb-Medium.woff2);

}

div.wrapper{
    width: var(--width);
}