div.products{
    display: flex;h
}
div.products>div{
    width: 120px;
    text-align: center;
    padding: 20px 0px;
    
}
div.products>div>img {
    width: 75px;
    border-radius: 50%;
    outline: 3px solid rgb(173, 67, 67);
    outline-offset: 2px;
    
}
div.products>div>h5{
    text-align: center;
    font-size: 12px;
    font-family: yekan;
    color: #4d4d4d;
    padding-top: 10px;
  
}
@media (max-width: 1024px) {
    div.products>div:nth-of-type(1){
        display: none;
    }
   
  }
  @media (max-width: 900px) {
    div.products{
     width: 100%;
    }
    div.products>div:nth-of-type(2){
        display: none;
    }
   
  }
  @media (max-width: 850px) 
    {
    div.products>div:nth-of-type(3){
        display: none;
    }
   
  }
  @media (max-width: 700px) {
    div.products>div:nth-of-type(4){
        display: none;
    }
   
  }
  @media (max-width: 650px) {
    div.products>div:nth-of-type(5){
        display: none;
    }
   
  }
  @media (max-width: 600px) {
    div.products>div:nth-of-type(6){
        display: none;
    }
   
  }